<% include ../partials/header %>
<div class="row">
  <div class="col-md-3">
    <p class="lead">Cafeholic</p>
    <div class="list-group">
      <li class="list-group-item active">Info 1</li>
      <li class="list-group-item">Info 2</li>
      <li class="list-group-item">Info 3</li>
    </div>
    <div id="map"></div>
  </div>
  <div class="col-md-9">
    <div class="thumbnail">
      <img class="img-responsive" src="<%= cafe.image %>">
      <div class="caption-full">
        <h4 class="pull-right">
          $<%= cafe.cost %>/person
        </h4>
        <h4><a><%=cafe.name%></a></h4>
        <p><%= cafe.description %></p>
        <p>
          <em>Submitted by: <%= cafe.author.username %>, <%= moment(cafe.createdAt).fromNow() %></em>
        </p>
        <% if(currentUser && cafe.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-warning" href="/cafes/<%= cafe._id %>/edit">Edit</a>
        <form action="/cafes/<%= cafe._id %>?_method=DELETE" method="POST" class="delete-form">
          <button class="btn btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <div class="well">
      <div class="text-right">
        <a class="btn btn-success" href="/cafes/<%= cafe._id %>/comments/new">Add New Comment</a>
      </div>
      <hr>
      <% cafe.comments.forEach(function(comment){ %>
      <div class="row">
        <div class="col-md-12">
          <strong><%= comment.author.username %></strong>
          <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
          <div>
           <%= comment.text %> 

           <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <div class="pull-right">
              <a href="/cafes/<%=cafe._id%>/comments/<%=comment._id%>/edit" class="btn btn-xs btn-warning">EDIT</a>
              <form class="delete-form" action="/cafes/<%=cafe._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                <button class="btn btn-xs btn-danger">DELETE</button>
              </form>
            </div>
          <% } %>
          <hr>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
</div>
<script>
  function initMap() {
    var lat = <%= cafe.lat %>;
    var lng = <%= cafe.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= cafe.name %><br />
      <%= cafe.location %></strong>
      <p><%= cafe.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkG51lwJtDvYFKTBdRZlhzYg1D4QFsXPU&callback=initMap"></script>
<% include ../partials/footer %>